.section-banner {
    padding: 0 100px;
    height: 865px;
    margin-top: 0px;
    background-image: url(../img/img_bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.wrap-buttons {
    margin-top: 30px;
}
.info_banner {
    position: relative;
    width: 1000px;
    top: 240px;
    margin: 0 auto;
}
.info_banner h3 {
    font-size: 60px;
    line-height: 68px;
    margin: 30px 0;
}
.info_banner p {
    font-size: 16px;
    line-height: 24px;
}
.info_banner a {
    color: #EDA70F;
    text-transform: uppercase;
    text-decoration: underline;
    display: inline-block;
}
.info_banner a.btn.primary, 
.info_banner a.btn.primary.light {
  font-size: 16px;
  font-weight: bold;
}  
.info_banner a.btn.primary {
    padding: 20px 119px;
    margin-right: 20px;
}
.info_banner a.btn.primary.light {
    padding: 20px 98px 20px 99px;
}
.section-news {
    position: relative;
    padding: 20px 10px;
    height: 450px;
    background-color: #0a0b0d;
    max-width: 100%;
}
.section-news .wrapper {
    position: relative;
    padding: 10px 0;
    width: 870px;
    margin: 0 auto;
}
.section-news .wrapper h3 {
    font-weight: 800;
    font-size: 36px;
    line-height: 38px;
    margin: 5px 15px;
}
.section-news .wrapper a.viewall {
    position: absolute;
    top: 40px;
    right: 15px;
}
.section-news .slider-news{
    position: relative;
    margin: 0 auto;
}
.section-news .slider-news .card {
    margin: 20px;
}
.section-news .slider-news .card .card-body {
    background-color: #212326;
    max-height: 136px;
    min-height: 106px;
    padding: 20px 20px;
}
.section-news .slider-news .card .card-title {
    text-transform: uppercase;
    color: #ff8b03;
}
.section-news .slider-news .card .card-date {
    float: right;
    text-align: right;
}
.section-news .slider-news .card .card-title.announcement{
    color: #22ae46;
}
.section-news .slider-news .card .card-title.maintance{
    color: #1971ff;
}
.section-news .slider-news .slick-slide {
    margin: 15px;
}
.section-news .slider-news .card img{
    width:100%;
}
.section-news .slider-news .slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0 1px;
}
.section-news .slider-news [class^="btn-"] {
    position: absolute;
    top: 40%;
    z-index: 10;
    border-radius: 50%;
    background-color: #15171A;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.section-news .slider-news [class^="btn-"]:hover {
    background-color: #2b2c2d;
    cursor: pointer;
}
.section-news .slider-news .icon-prev {
    width: 9px;
    height: 15px;
    background-image: url(../img/icon_next.png);
    margin: 20px;
    display: inline-block;
    transform: rotate(-180deg);
    background-size: cover;
}
.section-news .slider-news .icon-next {
    width: 9px;
    height: 15px;
    background-image: url(../img/icon_next.png);
    margin: 20px;
    display: inline-block;
    background-size: cover;
}
.section-news .slider-news .btn-prev {
    left: -96px;
}
.section-news .slider-news .btn-next {
    right: -88px;
}
.section-news .slider-news .slick-dots li button:before {
    font-size: 8px;
    opacity: .95;
    color: #3B3B3D;
}
.section-news .slider-news .card .card-body p.descr {
    display: none;
}
.section-news .slider-news .slick-dots li.slick-active button:before {
    opacity: .95;
    color: #fff;
}
.section-video {
    padding: 0 100px;
    height: 820px;
    margin-top: 0px;
    background-image: url(../img/video.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.section-video .wrapper {
    position: relative;
    width: 750px;
    top: 280px;
    margin: 0 auto;
    text-align: center;
}
.section-video .btn-play {
    width: 90px;
    height: 90px;
    background-image: url(../img/btn_play.png);
    display: inline-block;
    background-size: cover;
}
.section-video h3 {
    font-size: 40px;
    line-height: 48px;
    text-shadow: 0 1px 1px #000;
}
.section-video p {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 0 1px 1px #000;
    margin: 0 auto;
}
.section-big3 {
    padding: 0 100px;
    height: 720px;
    margin-top: -40px;
    background-image: url(../img/img_bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.section-big3 .wrapper {
    position: relative;
    width: 820px;
    top: 430px;
    margin: 0 auto;
    text-align: center;
}
.section-big3 h3 {
    font-size: 40px;
    line-height: 48px;
    text-shadow: 0 1px 1px #000;
    margin: auto auto 60px;
    width: 700px;
}
.section-big3 .primary {
    padding: 20px 71px;
}
.section-big4 {
    padding: 0 100px;
    height: 660px;
    margin-top: 0px;
    background-image: url(../img/img_bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.section-big4 .wrapper {
    position: relative;
    width: 840px;
    top: 310px;
    margin: 0 auto;
    text-align: center;
}
.section-big4 h3 {
    font-size: 40px;
    line-height: 48px;
    text-shadow: 0 2px 1px #000;
    margin: 0 0 60px;
}
.section-big4 a.btn.primary.light{
    padding: 20px 46px;
}
.section-big5 {
    padding: 0 100px;
    height: 980px;
    margin-top: 0px;
    background-image: url(../img/img_bg5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.section-big5 .wrapper {
    position: relative;
    width: 840px;
    top: 600px;
    margin: 0 auto;
    text-align: center;
}
.section-big5 h3 {
    font-size: 40px;
    line-height: 48px;
    text-shadow: 0 2px 1px #000;
    margin: 0 0 10px;
}
.section-big5 a.btn.primary.light{
    padding: 20px 46px;
}
.section-big5 p {
    font-size: 20px;
    line-height: 28px;
    text-shadow: 0 1px 1px #000;
    margin: auto auto 50px;
    width: 396px;
}
@media only screen and (max-width: 1023px) {
    .section-banner {
        height: auto;
        min-height: 750px;
        background-image: url(../img/768_img_bg1.png);
    }
    .section-banner-mobile {
        background-color: #0b0a0c;
        height: 490px;
        margin-top: -30px;
    }
    .info_banner {
        width: 100%;
        top: 0;
        padding-top: 40px;
        margin: 0 auto;
        text-align: center;
    }
    .info_banner h3 {
        font-size: 48px;
        line-height: 48px;
        margin: 30px 0;
    }
    .info_banner p {
        line-height: 22px;
        color: #9aa1af;
    }
    .info_banner .wrap-buttons {
        margin-left: 20px;
    }
    .section-news {
        height: 800px;
    }
    .section-news .wrapper {
        width: 740px;
    }
    .section-news .slider-news .card .card-date {
        float: none;
        text-align: left;
    }
    .section-news .slider-news .btn-prev {
        left: 30px;
    }
    .section-news .slider-news .btn-next {
        right: 30px;
    }
    .section-news .slider-news .card .card-title {
        font-size: 16px;
        line-height: 38px;
    }
    .section-news .slider-news .card .card-body p {
        font-size: 20px;
        line-height: 28px;
        padding: 0;
        margin: 0;
    }
    .section-video {
        height: auto;
        min-height: 670px;
        background-position: 50%;
    }
    .section-video .wrapper {
        padding: 0;
        width: 100%;
        top: 200px;
    }
    .section-video p {
        font-size: 16px;
        line-height: 22px;
        padding: 0 110px;
    }
    .section-big3 {
        padding: 0;
        height: auto;
        min-height: 640px;
        background-image: url('../img/768_img_bg3.jpg');
    }
    .section-big3 .wrapper {
        width: 100%;
        top: 410px;
    }
    .section-big3 h3 {
        width: auto;
        font-size: 32px;
        line-height: 36px;
    }
    .section-big4 {
        padding: 0;
        height: auto;
        min-height: 620px;
        background-position: 75%;
    }
    .section-big4 h3 {
        width: auto;
        font-size: 32px;
        line-height: 36px;
        text-shadow: none;
        padding: 0 60px;
    }
    .section-big4 .wrapper {
        width: 100%;
        top: 350px;
    }
    .section-big5 {
        padding: 0;
        height: auto;
        min-height: 580px;
        background-position: 63%;
        background-image: url(../img/768_img_bg5.png);
    }
    .section-big5 .wrapper {
        width: 100%;
        top: 340px;
    }
    .section-big5 p {
        width: 400px;
        font-size: 16px;
        line-height: 22px;
    }
}
@media only screen and (max-width: 400px) {
    .section-banner {
        min-height: 430px;
        background-size: contain;
    }    
    .section-banner-mobile {
        margin-top: -60px;
    }
    .info_banner h3 {
        font-size: 22px;
        line-height: 24px;
        margin: 0;
    }
    .info_banner p {
        font-size: 14px;
        line-height: 20px;
    }
    .info_banner a.btn.primary {
        padding: 14px 30%;
    }
    .info_banner a.btn.primary.light {
        padding: 14px 75px;
        margin-top: 10px;
    }
    .section-news {
        height: 540px;
        padding: 0 10px;
    }
    .section-news .wrapper {
        width: 100%;
    }
    .section-news .slider-news .card .card-title {
        font-size: 14px;
        line-height: 38px;
    }
    .section-news .slider-news .card .card-body p {
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        margin: 0px;
    }
    .section-news .slider-news .card .card-body {
        background-color: #212326;
        height: 196px;
        max-height: 136px;
        min-height: 176px;
    }
    .section-news .slider-news .card .card-body p.descr {
        margin-top: 10px;
        display: block;
        font-size: 12px;
        line-height: 18px;
        color: #86909e;
        font-family: 'Roboto', sans-serif;
        -webkit-line-clamp: 3; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* vertical orientation */
        overflow: hidden; 
    }
    .section-video {
        padding: 0 20px;
        min-height: 350px;
        background-size: cover;
    } 
    .section-video h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .section-video .btn-play {
        width: 60px;
        height: 60px;
    }
    .section-video .wrapper{
        top: 80px;
    }
    .section-video p {
        font-size: 14px;
        line-height: 20px;
        padding: 0 25px;
    }
    .section-big3 {
        padding: 0 20px;
        min-height: 360px;
        background-size: cover;
        background-image: url(../img/320_img_bg3.jpg);
    }
    .section-big3:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0.9) 86%);
        opacity: 0.9;
    }
    .section-big3 .wrapper {
        top: 200px;
    }
    .section-big3 h3 {
       font-size: 18px;
       line-height: 20px;
       padding: 0 30px;
       margin: auto auto 30px;
    }
    .section-big3 .primary {
        padding: 14px 55px;
        margin-right: 0;
    }
    .section-big4 {
        min-height: 426px;
        background-position: 70%;
    }
    .section-big4 .wrapper {
        top: 230px;
    }
    .section-big4 h3 {
        font-size: 18px;
        line-height: 20px;
        padding: 0 35px;
        margin: 0 0 40px;
    }
    .section-big4 a.btn.primary.light {
        padding: 14px 36px;
    }
    .section-big5 {
        min-height: 303px;
        background-position: 70%;
    }
    .section-big5 .wrapper {
        top: 150px;
    }
    .section-big5 p {
        font-size: 14px;
        line-height: 20px;
        margin: auto auto 30px;
        width: 100%;
    }
    .section-big5 h3 {
        font-size: 18px;
        line-height: 20px;
        padding: 0 35px;
        margin: 0 0 5px;
    }
    .section-big5 a.btn.primary.light {
        padding: 14px 36px;
    }
}    

@media only screen and (max-width: 320px) {
    .section-banner {
        min-height: 400px;        
    }   
    .info_banner a.btn.primary {
        padding: 14px 85px;
    }
    .info_banner a.btn.primary.light {
        padding: 14px 65px;     
    }
    .section-video h3 {
        margin-top: 20px;        
    }   
    .section-big3 .primary {
        padding: 14px 45px;      
    }   
    .section-news {
        height: 560px;     
    } 
}    