.section-start-adventure {
    padding: 0 100px;
    height: 1000px;
    margin-top: 0px;
    background-image: url(../img/bg_section1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.section-start-adventure .wrapper {
    position: relative;
    text-align: center;
    top: 135px;
    width: 920px;
    margin: 0 auto;
}
.section-start-adventure p{
    font-size: 18px;
    color: #2a2e33;
    line-height: 26px;
    margin: 0 0 5px;
}
.section-start-adventure h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    color: #0a0b0d;
    padding: 40px 0;
}
.section-races {
    height: 1024px;
    background-color: #0a0b0d;  
    position: relative;
    overflow: hidden;
}
.section-races .slider-races{
    position: relative;
    margin: 0 auto;
}
.section-races .slider-races .slick-list {    
    overflow: initial;
} 
/* .section-races .slider-races .slick-slide{
    position: relative;
    left: -80px;
}    
.section-races .slider-races .slick-slide.slick-current{    
    left: 0; */
}    
.section-races:after {
    position: absolute;    
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-image: linear-gradient(to bottom, rgba(10, 11, 13, 0), #0a0b0d);
    opacity: 0.9; 
    height: 360px;   
} 
.races-descr .race-img {
    position: relative;
    right: -200px;
    bottom: 200px;
}
.races-descr .race {
    position: absolute;
    width: 520px;
}
.section-races .races-descr .race h3 {    
    text-align: left;    
    padding: 20px 0;
}
.section-races .races-descr .race p.about {    
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #9aa1af;
    padding: 0 0;    
}
.section-races .race-skills table{
    border-collapse: collapse;
    width: 100%;
    background-color: #0a0b0d;
}
.section-races .race-skills h3 {
    font-size: 20px;
    line-height: 28px;    
    padding: 20px 0;
}
.section-races .race-skills table tr:first-child {
    border-top: 1px solid #2a2e33;
}
.section-races .race-skills table tr td:first-child{
    width: 5%;
}
.section-races .race-skills table tr {    
    border-bottom: 1px solid #2a2e33;
}
.section-races .race-skills table tr td{    
    padding: 15px 20px;
    text-align: left;
}
.section-races .race-skills table tr td p, 
.section-races .race-skills table tr td h5{    
    font-size: 14px;
    line-height: 20px;
}    
.section-races .race-skills table tr td h5{     
    font-size: bold;
}
.section-races .race-skills table tr td p{        
    color: #86909e;
    padding: 0;
}
.section-races .race-skills table tr .border-wrap {    
    max-width: 50px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #fff, #000);
    padding: 1px;
}
.races-descr .race-skills {
    position: absolute;
    width: 520px;
    left: 0px;
}
.races-descr .race-img img {
    width: 1600px;    
}
.races-list {
    position: relative;
    bottom: 400px;
    left: 20%;
    z-index: 10;
}
.races-list .thumb {
    position: relative;
}
.races-list .thumb:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #0a0b0d;    
    background-size: cover;
}
.section-races ul.races-list{
    list-style: none;
}   
.section-races ul.races-list li {
    float: left;
    position: relative;
    padding: 0 15px;
}
.section-races ul.races-list li .caption{
    color: #fff;
    opacity: 0.4;
    font-size: 16px;
    padding-top: 10px;
}
.section-races ul.races-list li.active .caption {
    color: #eda70f;
    font-weight: bold;
    opacity: 1;
}
.section-races ul.races-list li.active .thumb {
    border: 1px solid #eda70f;    
}
.section-races ul.races-list li.active .thumb:after,
.section-races ul.races-list a:hover .thumb:after{
    display: none;
}

.section-races .wrapper {
    position: relative;
    text-align: center;
    top: 70px;
    width: 1138px;
    margin: 0 auto;
}
.section-races h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    color: #fff;
    padding: 40px 0;
}
.section-races p{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 5px;
    padding: 0 148px;
}
.section-skillsets {
    padding: 0 100px;
    height: 1219px;
    margin-top: 0px;
    background-image: url(../img/bg_section3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.section-skillsets .wrapper {
    position: relative;
    text-align: center;
    top: 70px;
    width: 1350px;
    margin: 0 auto;
}
.section-skillsets h3,
.parchement .wrapper h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    color: #0a0b0d;
    padding: 30px 100px;
}
.parchement {
    width: 1300px;
    height: 923px;
    background-image: url(../img/img_parchment.png);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.parchement .wrapper {
    width: 1000px;
}
.parchement .wrapper h3 {
    font-size: 28px;
    line-height: 32px;
    padding: 40px 0;
}
.parchement .skillset {
    width: 50%;
    float: left;
}
.parchement .skillset table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #e2e0dd;
}
.parchement .skillset table thead.type_pc {
    display: contents;
}
.parchement .skillset table thead tr{
    background-color: #322a26;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.parchement .skillset table thead tr th:first-child{
    width: 30%;
}
.parchement .skillset table thead tr th{
    padding: 24px 0;
}
.parchement .skillset table tbody tr {
    border-bottom: 1px solid #fff;
}
.parchement .skillset table tbody tr td{
    padding: 0 15px;
    text-align: left;
    background-color: #e2e0dd;
    color: #0a0b0d;
    font-size: 16px;
    line-height: 24px;
}
.parchement .skillset table tbody tr td:first-child{
    width: 30%;
    padding: 24px 0;
    text-align: center;
    font-weight: 800;
    background-color: #cecece;
}
@media only screen and (max-width: 1023px) {
    .section-start-adventure {
        padding: 0;
        height: auto;
        min-height: 1000px;
        background-position: center;
    }
    .parchement .skillset table thead.type_pc {
        display: none;
    }
    .section-start-adventure .wrapper {
        width: 100%;
        top: 80px;
        padding: 40px 0;
    }
    .section-start-adventure p {
        padding: 0 20px;
    }    
    .section-start-adventure h3 {
        line-height: 32px;
    }
    .section-races{
        padding: 0;
        height: auto;
        min-height: 1700px;
    }
    .section-races .wrapper {
        width: 100%;
        top: 0;
        padding: 40px 0;
    }
    .races-descr .race {
        position: relative;
        width: 700px;
        top: 900px;
        left: 50px;
    }
    .races-descr .race-img img {
        width: 1200px;
    }
    .races-descr .race-img {
        position: relative;
        right: 150px;
        bottom: 100px;
    }
    .races-list {     
        bottom: 125px;
        left: 8%;        
    }
    .races-descr .race-skills {
        width: 660px;     
    }
    .section-races p {
        padding: 0 30px;
    }    
    .section-races h3 {
        line-height: 32px;
    }
    .section-races .btn-wrapper {
        display: none;
    }
    .section-skillsets{
        padding: 0;
        height: auto;
        min-height: 1700px;
    }
    .section-skillsets .wrapper {
        width: 100%;
        top: 50px;
        padding: 20px 0;
    }
    .section-skillsets h3 {
        line-height: 32px;
        padding: 30px 30px;
    }
    .parchement {
        width: 780px;
        height: 1298px;
        background-image: url(../img/768_img_parchment.png);
    }
    .parchement .wrapper h3 {
        padding: 30px 0;
    }    
    .parchement .skillset {
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    .parchement .skillset table tbody tr td:first-child {
        padding: 21px 0;
    }
}
@media only screen and (max-width: 400px) {
    .section-start-adventure {
        min-height: 1050px;
    }
    .section-start-adventure .wrapper {
        width: 100%;
        top: 60px;
        padding: 40px 0;
    }
    .section-start-adventure p {
        font-size: 12px;
        line-height: 18px;
        padding: 0 10px;
        font-weight: bold;
    }    
    .section-start-adventure h3 {
        font-size: 18px;
        line-height: 20px;
        padding: 40px 0;
    }
    .section-races h3 {
        font-size: 18px;
        line-height: 20px;
        padding: 20px 0;     
    }
    .section-races p {
        padding: 0 15px;
        font-size: 12px;
        line-height: 18px;
    }    
    .races-list {
        display: none;
    }    
    .races-descr .race-skills {
        display: none;
    }
    .races-descr .race-img img {
        width: 600px;
    }
    .races-descr .race-img {     
        right: 110px;
        bottom: 130px;
    }
    .section-races {     
        min-height: 1050px;
    }
    .section-races .races-descr:after {
        position: absolute;    
        right: 0;
        bottom: 1300px;
        left: 0;
        content: '';
        background-image: linear-gradient(to bottom, rgba(10, 11, 13, 0), #0a0b0d);
        opacity: 0.9; 
        height: 360px;   
    }
    .races-descr .race {     
        width: 300px;
        top: 420px;
        left: 5px;
        z-index: 10;
    }
    .section-races .races-descr .race h3 {
        text-align: center;     
    }
    .section-races .races-descr .race p.about {
        text-align: center;     
        font-size: 12px;
        line-height: 18px;
    }
    .section-races .btn-wrapper {
        position: relative;
        top: 130px; 
        right: 130px;
        display: block;       
    }
    .section-skillsets {     
        min-height: 1300px;
    }
    .section-skillsets .wrapper {
        top: 20px;
    }
    .section-skillsets .parchement {        
        background-image: none;
    }
    .parchement .wrapper h3 {
        display: none;
    }
    .section-skillsets h3 {
        font-size: 18px;
        line-height: 20px;
        padding: 30px 30px;
    }
    .parchement .skillset {
        width: 90%;        
    }
    .parchement .skillset table tbody tr td {
        font-size: 12px;
        line-height: 18px;
    }
    .parchement {     
        height: 1000px;        
    }
    .section-races .slider-races [class^="btn-"] {
        position: absolute;
        top: 40%;
        z-index: 10;
        border-radius: 50%;
        background-color: #15171A;
        border: none;
        cursor: pointer;
        width: 36px;
        height: 36px;
    }
    .section-races .slider-races [class^="btn-"]:hover {
        background-color: #2b2c2d;
        cursor: pointer;
    }
    .section-races .slider-races .icon-prev {
        width: 9px;
        height: 15px;
        background-image: url(../img/icon_next.png);
        margin: 10px;
        display: inline-block;
        transform: rotate(-180deg);
        background-size: cover;
    }
    .section-races .slider-races .icon-next {
        width: 9px;
        height: 15px;
        background-image: url(../img/icon_next.png);
        margin: 10px;
        display: inline-block;
        background-size: cover;
    }    
    .section-races .slider-races .btn-prev {
        left: 10px;
    }
    .section-races .slider-races .btn-next {
        right: 10px;
    }
}