@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500&display=swap');
body {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Philosopher', sans-serif;
    color: #fff;
    margin: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, button {
    margin: 0;
    padding: 0;
}
.type_pc {
    display: block;
}
.type_m {
    display: none;
}
a { 
    text-decoration: none;
    color: #eda70f;
} 
a.btn {
    border-radius: 8px;
    text-decoration: none !important;
    padding: 10px 40px;
    /* margin-right: 20px; */
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #EDA70F;
}
a.btn.primary {
    background-color: #EDA70F;
    color: #0a0b0d;    
}
a.btn.primary.light {
    background-color: transparent;
    color: #EDA70F;
    padding: 10px 60px;
}
.container-doc {
    position: relative;
}
/* HEADER */
.doc-header {
    position: fixed;
    background-color: #0a0b0d;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 1100;
    width: 100%;
    border-bottom: 1px solid #333333;
}
header .logo {
    float: left;
    position: relative;
    width: 268px;
}
header .logo .link-logo {
    padding: 20px 14px 15px 30px;
}
header .logo .ico_logo {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo_unchained.png);
    background-size: cover;
    width: 136px;
    height: 36px;
    display: inline-block;
    margin: 15px 0;
}    
header .logo .ico_logo.legacy {
    width: 160px;
    height: 36px;
    background-size: contain;
    background-image: url(../img/logo_archeage.png);
}
header .logo .ico_logo.legacy + .ico_more {
    margin: 30px 20px 30px 20px;   
}
header .logo .ico_more {
    background-image: url(../img/icon_dropdown.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 11px;
    height: 7px;
    margin: 30px 20px 30px 50px;
}
header .border {
    border-left: 1px solid #333333;
    height: 100%;
    float: left;
    padding: 0 20px;
}
header .logo .list_subgnb {
    display: none;
    position: absolute;
    top: 65px;
    left: -12px;
    width: 280px;
    background-color: #0a0b0d;
}
header .logo ul.list_subgnb {
    list-style: none;
    padding: 0;
}    
header .logo ul.list_subgnb li {
    float: none;
}
header .logo .list_subgnb .link_subgnb {
    display: table;
    width: 100%;
    min-height: 56px;
    padding: 20px 40px;
    box-sizing: border-box;
}
header .link-logo:hover + .list_subgnb, 
header .logo.on .link-logo + .list_subgnb {
    display: block;
}
header .logo:hover + .link-logo, 
header .logo.on .link-logo + .list_subgnb {
    display: block;
}
header .logo.on .link-logo .ico_more {
    transform: rotate(-180deg);
}
header .logo .link_subgnb .ico_archeage,
header .logo .link_subgnb .ico_archeage_unchained {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}    
header .logo .link_subgnb .ico_archeage {
    width: 180px;
    height: 36px;
    background-image: url(../img/logo_archeage.png);
    display: inline-block;
}
header .logo .link_subgnb .ico_archeage_unchained {
    width: 136px;
    height: 36px;
    background-image: url(../img/logo_unchained.png);
    display: inline-block;
}
header .logo .link_subgnb:hover {
    background-color: #2a2e33;
}
header button {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: sans-serif;
    color: #fff;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}
header button [class^="ico_"] {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    text-indent: -9999px;
    vertical-align: top;
}
/* MENU */
.section_menu {
    float: left;
    position: relative;
    width: calc(100% - 780px);
}
.section_menu nav {
    display: block;
}
.section_menu ul.list_gnb {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.section_menu ul.list_gnb ul.list_subgnb li {
    float: none;
} 
.section_menu ul.list_gnb li {
    float: left;
    position: relative;
}
.section_menu ul.list_gnb .link_gnb {
    display: table;
    height: 62px;
    padding: 0 20px;
    table-layout: fixed;
    box-sizing: border-box;
}

.section_menu .list_gnb .link_gnb .txt_g {
    display: table-cell;
    position: relative;
    /* padding-top: 8px; */
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}

.section_menu .link_gnb .ico_more{
    background-image: url(../img/icon_dropdown.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 11px;
    height: 7px;
    margin: 22px 8px;
}
.section_menu .list_gnb .link_gnb:hover .txt_g:after, 
.section_menu .list_gnb .on .link_gnb .txt_g:after {
    width: 100%;
}
.section_menu .list_gnb .link_gnb .txt_g:after {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #eda70f;
    transition: all .3s ease;
    content: "";
}
.section_menu .list_gnb .list_subgnb {
    display: none;
    position: absolute;
    top: 50px;
    left: -12px;
    width: 240px;
    background-color: #0a0b0d;
}
.section_menu .list_gnb ul.list_subgnb {
    list-style: none;
    padding: 0;
}    
.section_menu .list_subgnb .link_subgnb {
    display: table;
    width: 100%;
    min-height: 56px;
    padding: 0 32px;
    box-sizing: border-box;
}
.section_menu .list_gnb li {
    float: left;
    position: relative;
}
.section_menu .link_gnb:hover + .list_subgnb, 
.section_menu .list_gnb .on .link_gnb + .list_subgnb {
    display: block;
}
.section_menu .list_gnb .on .link_gnb .ico_more {
    transform: rotate(-180deg);
}
.section_menu .list_subgnb .link_subgnb .txt_g {
    display: table-cell;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    vertical-align: middle;
}
.section_menu .item_gnb .txt_g {
    padding-right: 14px;
}
.section_menu .list_subgnb .link_subgnb:hover {
    background-color: #2a2e33;
}
.section_account {
    position: relative;
    top: 0;
    right: 30px;
    float: left;
}
.section_account ul.list_gnb {
    list-style: none;
    margin: 0;
    padding: 0;
} 
.section_account ul.list_gnb li {
    float: left;
    position: relative;
}
.section_account ul.list_gnb .link_gnb {
    display: table;
    height: 62px;
    padding: 0 20px;
    table-layout: fixed;
    box-sizing: border-box;
}
.section_account .list_gnb .link_gnb .txt_g {
    display: table-cell;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}
.section_account .link_gnb .ico_login {
    background-image: url(../img/icon_login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 16px;
    height: 18px;
    margin: 22px 8px;
}
.section_account .link_gnb .ico_account {
    background-image: url(../img/icon_account.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width:  16px;
    height: 16px;
    margin: 22px 8px;
}
.section_play {
    float: right;
    width: 160px;
    height: 65px;
    background-color: #EDA70F;
    text-align: center;
}

.section_play a {
    display: block;
    color: #0A0B0D;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    padding: 11% 20px;
}
    
/* MAIN CONTENT */
.doc-main {
    display: block;
}  


main {
    display: block;
}

footer {
    height: 190px;
    background-color: #15171a;
    font-family: 'Roboto', sans-serif;
}
footer .wrapper {
    padding: 40px 40px 31px;
    position: relative;
}
footer .copyright {
    font-size: 12px;
    line-height: 38px;
    color: #9aa1af;
    padding: 0px;
    margin: 0px;
}
footer .ico_kakaogames {
    width: 120px;
    height: 22px;
    background-image: url(../img/logo_kakaogames.png);
    display: inline-block;
    background-size: cover;
}
footer .ico_archage {
    width: 128px;
    height: 26px;
    background-image: url(../img/logo_archeage.png);
    display: inline-block;
    margin-left: 30px;
    background-size: cover;
}
footer ul.links {
    padding: 0;
    margin: 0;
    padding-top:10px;
}
footer ul.links li {
    list-style-type: none;
    display: inline;
    color: #9aa1af;
}
footer ul.links li:not(:first-child):before {
    content: " | ";
    margin: 0 10px;
}
footer .links a {
    color: #9aa1af;
    font-size: 14px;
    line-height: 38px;
    font-weight: 500;
    text-transform: uppercase;
}
footer .social {
    position: relative;
    float: right;
    bottom: -10px;
    right: -150px;
} 
footer ul.social li{
    list-style-type: none;
    display: inline;
    padding: 0 5px;
}
footer .social a span {
    display: inline-block;
    background-size: cover;  
}
footer .social a .twitter {
    width: 24px;
    height: 20px;
    background-image: url(../img/icon_twitter.png);
}
footer .social a .instagram {
    width:  20px;
    height: 20px;
    background-image: url(../img/icon_instagram.png);
}
footer .social a .discord {
    width: 24px;
    height: 18px;
    background-image: url(../img/icon_discord.png);
}
.back-to-top {
    position: fixed;
    display: none;
    background: #1f2226;
    color: #fff;
    width: 40px;
    height: 40px;
    right: 140px;
    bottom: 150px;
    padding: 20px 23px 20px;
    margin-top: 10px;
    text-align: center;
    z-index: 11;
}
  
.back-to-top .icon {
    width: 24px;
    height: 30px;
    background-image: url(../img/icon_pagetop.png);
    display: inline-block;
    background-size: cover;
    margin-top: 5px;
}
.screen_out { overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px; }
.group_lang{float:right;position:relative;z-index:1000;right:0px;padding-top:0;background-color: #0e0e0e;bottom:60px;}
.group_lang .link_selected{display:table;font-size:0;text-decoration:none}
.group_lang .link_selected .ico_lang{width:22px;height:22px;margin:12px 8px 14px 15px;background-image:url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.611 3.04935H18.6C17.4628 1.95233 16.1002 1.1163 14.607 0.599587C12.7784 -0.0351544 10.8148 -0.176117 8.91427 0.190846C7.01379 0.557811 5.24366 1.41974 3.78286 2.68961L3.68389 2.77871C3.58489 2.86781 3.48588 2.95583 3.38688 3.04713C1.80123 4.56621 0.706562 6.52506 0.243714 8.67161C-0.219132 10.8182 -0.0289297 13.0542 0.78982 15.0916C1.60857 17.1292 3.01844 18.875 4.83788 20.1045C6.65732 21.3339 8.80305 21.9907 10.9989 21.9902C11.3509 21.9902 11.7029 21.9734 12.0549 21.9396C14.1506 21.7376 16.1444 20.9383 17.7993 19.6367C19.4542 18.3352 20.7007 16.586 21.391 14.597C22.0813 12.6079 22.1863 10.4626 21.6935 8.41568C21.2007 6.36874 20.1309 4.50625 18.611 3.04935ZM18.127 17.7277C17.6304 17.3797 17.104 17.0764 16.554 16.8213C17.1566 15.1399 17.487 13.3731 17.5328 11.5875H20.789C20.6604 13.8858 19.7166 16.0629 18.127 17.7277ZM17.1478 18.6363C17.0928 18.677 17.0488 18.7155 16.9938 18.7551C16.9388 18.7947 16.851 18.8651 16.785 18.9135C16.719 18.9619 16.686 18.9872 16.631 19.0235C16.576 19.0598 16.488 19.1247 16.411 19.1742C16.3618 19.2101 16.3104 19.2428 16.257 19.2721C16.1789 19.3257 16.0981 19.3753 16.015 19.4206L15.8828 19.5042C15.7838 19.5607 15.685 19.6146 15.586 19.6659L15.4868 19.7176C15.3548 19.7858 15.2228 19.8507 15.0908 19.9123C15.0578 19.9266 15.036 19.9387 15.003 19.9519C14.904 19.9937 14.816 20.0344 14.717 20.0718C15.0976 19.6299 15.4329 19.1508 15.718 18.6418C15.8551 18.4064 15.9799 18.164 16.092 17.9158C16.4875 18.1032 16.8698 18.3174 17.236 18.5571C17.203 18.5857 17.1808 18.6077 17.1478 18.6363ZM6.90695 19.9123C6.77495 19.8507 6.63197 19.7858 6.49997 19.7176C6.47797 19.7011 6.44489 19.6857 6.42289 19.6703C6.31289 19.6164 6.21399 19.5603 6.11499 19.5042L5.98286 19.4228C5.89486 19.3744 5.81788 19.3238 5.72988 19.2721C5.68588 19.2402 5.63088 19.2083 5.58688 19.1753C5.50988 19.1258 5.43293 19.0741 5.36693 19.0224C5.31326 18.9892 5.26181 18.9524 5.21292 18.9124C5.13592 18.8596 5.06998 18.8079 5.00398 18.754C4.93798 18.7001 4.90497 18.6748 4.84997 18.6352C4.81804 18.6126 4.78847 18.5869 4.76188 18.5582C5.12574 18.321 5.50419 18.1067 5.89491 17.9169C6.01591 18.1677 6.14788 18.4108 6.27988 18.6429C6.56505 19.1492 6.89649 19.6278 7.26991 20.0729L6.98389 19.9475C6.96189 19.9354 6.92895 19.9277 6.90695 19.9123ZM3.85993 4.25824C4.35945 4.60152 4.88536 4.90459 5.43286 5.16461C4.83915 6.84804 4.51266 8.61399 4.46499 10.3984H1.2089C1.3383 8.10251 2.27767 5.92689 3.85993 4.25824ZM4.84997 3.34959C4.90497 3.30889 4.94898 3.26933 5.00398 3.23083C5.05898 3.19233 5.13592 3.12081 5.21292 3.07351C5.26209 3.03391 5.31352 2.99721 5.36693 2.96354C5.43744 2.90965 5.51083 2.85965 5.58688 2.81389C5.63088 2.77979 5.68588 2.74569 5.72988 2.71379C5.81788 2.66319 5.89498 2.61484 5.97198 2.56534C6.02698 2.53784 6.07099 2.50923 6.11499 2.48283C6.21399 2.42673 6.31288 2.37281 6.41188 2.32001C6.44275 2.30599 6.47231 2.28903 6.49997 2.26939C6.63197 2.20119 6.77495 2.13629 6.90695 2.07469C6.9352 2.05979 6.96458 2.04727 6.9949 2.0373C7.08291 1.9944 7.1819 1.9548 7.26991 1.9141C6.89649 2.3592 6.56505 2.83789 6.27988 3.34409C6.14788 3.57619 6.01591 3.82039 5.89491 4.07119C5.50419 3.88138 5.12574 3.66718 4.76188 3.42989C4.78799 3.39979 4.81762 3.37285 4.84997 3.34959ZM15.0908 2.07254C15.2228 2.13524 15.3548 2.20123 15.4978 2.26833C15.5217 2.28575 15.5476 2.30018 15.575 2.31123C15.674 2.36733 15.7838 2.42123 15.8828 2.48283L16.015 2.55984C16.092 2.61044 16.18 2.66103 16.268 2.71493C16.312 2.74463 16.356 2.77649 16.411 2.80839C16.488 2.85899 16.565 2.91071 16.642 2.96461C16.6877 3.00205 16.7353 3.0369 16.785 3.06909C16.851 3.12298 16.9278 3.17914 16.9938 3.23304C17.0438 3.26669 17.0915 3.30339 17.1368 3.34301L17.236 3.4233C16.8698 3.66295 16.4875 3.87722 16.092 4.06461C15.9799 3.81598 15.8551 3.57328 15.718 3.3375C15.4329 2.82857 15.0976 2.34951 14.717 1.90751C14.816 1.94821 14.915 1.99108 15.014 2.03508C15.036 2.05158 15.0688 2.06154 15.0908 2.07254ZM10.4049 5.17999C9.24219 5.12679 8.09349 4.90448 6.9949 4.52001C7.0939 4.31651 7.20395 4.11744 7.31395 3.92604C7.61201 3.28683 8.0412 2.71744 8.57375 2.25503C9.10628 1.7926 9.73018 1.44749 10.4049 1.24204V5.17563V5.17999ZM10.4049 6.37023V10.3984H5.65294C5.69941 8.77062 5.99614 7.15971 6.53286 5.62224C7.77844 6.06536 9.08389 6.31754 10.4049 6.37023ZM10.4049 11.5875V15.6146C9.08378 15.668 7.77833 15.921 6.53286 16.3648C5.99635 14.8269 5.69963 13.2156 5.65294 11.5875H10.4049ZM10.4049 16.807V20.7384C9.73013 20.5335 9.10618 20.1885 8.57361 19.7263C8.04103 19.264 7.61185 18.6947 7.31395 18.0555C7.20395 17.8641 7.0939 17.665 6.9949 17.4615C8.09349 17.0779 9.24234 16.8574 10.4049 16.807ZM11.593 16.807C12.7522 16.8591 13.8975 17.0815 14.992 17.467C14.893 17.6705 14.7938 17.8696 14.6838 18.061C14.386 18.7002 13.9569 19.2696 13.4242 19.7318C12.8917 20.194 12.2678 20.539 11.593 20.7439V16.8125V16.807ZM11.593 15.6146V11.5875H16.3338C16.2961 13.2156 16.003 14.8277 15.465 16.3648C14.2193 15.922 12.9139 15.6691 11.593 15.6146ZM11.593 10.3984V6.37023C12.9138 6.31649 14.2192 6.06434 15.465 5.62224C16.0032 7.15893 16.2963 8.77065 16.3338 10.3984H11.593ZM11.593 5.17999V1.2464C12.2676 1.45186 12.8916 1.79704 13.4241 2.25945C13.9566 2.72188 14.3859 3.29119 14.6838 3.9304C14.7938 4.1218 14.893 4.32088 14.992 4.52438C13.897 4.90734 12.7519 5.1282 11.593 5.17999ZM4.46499 11.5875C4.51277 13.372 4.83925 15.1378 5.43286 16.8213C4.88536 17.0813 4.35945 17.3845 3.85993 17.7277C2.27767 16.0591 1.3383 13.8835 1.2089 11.5875H4.46499ZM17.5328 10.3984C17.487 8.61283 17.1566 6.84603 16.554 5.16461C17.104 4.90946 17.6304 4.60618 18.127 4.25824C19.7166 5.92306 20.6604 8.10015 20.789 10.3984H17.5328Z' fill='%23E0E0E0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")}
.group_lang .link_selected .txt_selected{display:table-cell;position:relative;width:78px;font-weight:700;font-size:14px;line-height:22px;color:#E0E0E0;text-transform:uppercase;vertical-align:middle;transition:all .3s ease}
.group_lang .link_selected .ico_arrow{
    width:13px;height:7px;margin:21px 14px 0 0;background-image:url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0.65L12.2778 0L6.5 5.77778L0.65 0L0 0.65L6.5 7.07778L7.15 6.42778L13 0.65Z' fill='%23E0E0E0'/%3E%3C/svg%3E%0A");
    transform:rotate(0);transition:all .3s ease
}
.group_lang [class^="ico_"] { display: inline-block; overflow: hidden; font-size: 0; line-height: 0; background-repeat: no-repeat; background-position: 0 0; background-size: cover; text-indent: -9999px; vertical-align: top; }
.group_lang .list_lang{display:none;position:absolute;bottom:48px;left:0;z-index:1;width:100%;background-color:#171717}
.group_lang .link_lang{display:block;padding:13px 0;font-weight:700;font-size:14px;line-height:22px;color:#fff;text-align:center;text-decoration:none;text-transform:uppercase}
.group_lang .link_lang:hover{background-color:#333}
.group_lang .list_lang li{ margin: 0; padding: 0; list-style: none;}
.group_lang [aria-selected="true"]{display:none}
.group_lang.on{background-color:#171717}
.group_lang.on .list_lang{display:block}
.group_lang.on .link_selected .txt_selected{color:#fff}
.group_lang.on .link_selected .ico_arrow{transform:rotate(180deg)}
.mtn {margin-top: 0;}
@media only screen and (max-width: 1919px) {
    .section_menu {
        width: calc(100% - 780px);
    }
    .section_menu ul.list_gnb .link_gnb {
        height: 54px;
        padding: 0 17px;
    }
    .section_menu ul.list_gnb .link_gnb .txt_g {
        font-size: 16px;
        line-height: 18px;
    }
    .section_menu ul.list_gnb .list_subgnb {
        top: 48px;
        left: -11px;
        width: 210px;
    }
    .section_menu .list_subgnb .link_subgnb {
        min-height: 48px;
        padding: 0 24px;
    }
    .section_menu .list_gnb .link_gnb .txt_g:after {
        bottom: 6px;
    }
    .section_account {
        right: 13px;
    }
}
@media only screen and (max-width: 1023px) {
    .type_pc {
        display: none;
    }
    .type_m {
        display: block;
    }
    header .logo {
        float: none;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .section_menu .btn_togglemenu .ico_menu {
        width: 20px;
        height: 16px;
        background-image: url(../img/icon_hamburger.png);
    }
    .section_account .btn_togglemenu .ico_account {
        width: 15px;
        height: 18px;
        background-image: url(../img/icon_accoount.png);
    }
    .section_menu {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 56px;
        background-color: #0a0b0d;
    }
    .section_account {
        position: absolute;
        top: 0;
        right: 0;
    }
    .section_menu .btn_togglemenu {
        display: block;
        padding: 24px 20px;
    }
    .section_menu ul.list_gnb .link_gnb .txt_g {
        font-size: 30px;
        line-height: 34px;
    }
    .section_menu .list_gnb .btn.primary{
        /* width: 84%; */
        display: block;
        margin: 30px 20px;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
    }
    .section_account .btn_togglemenu {
        float: right;
        padding: 24px 24px 20px;
    }
    .menu_on .section_menu .group_menu {
        display: block;
    }
    .menu_on .section_menu {
        position: fixed;
        z-index: 1500;
        width: 100%;
        height: 100vh;
    }
    .group_menu {
        position: relative;
        overflow-y: auto;
        height: calc(100% - 50px);
        margin-top: 0;
    }
    .menu_on .section_menu .btn_togglemenu .ico_menu {
        width: 16px;
        background-image: url(../img/icon_x.png);
    }
    .menu_on .section_menu .list_gnb li {
        float: none;
        padding: 10px 0;
        width: 100%;
        border-bottom: solid 1px #484d54;
    }
    .account_on .section_account .group_account {
        display: block;
    }
    .account_on .section_account .btn_togglemenu .ico_account {
        width: 16px;
        height: 16px;
        background-image: url(../img/icon_x.png);
    }
    .account_on .section_account {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100vh;
    }
    .section_account {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #0a0b0d;
    }
    .section_account ul.list_gnb {
        padding-top: 73px;
    }
    header .list_gnb .item_gnb.on .link_gnb + .list_subgnb {
        display: block;
    }
    .section_menu ul.list_gnb {
        margin: 0 16px;
    }
    .section_menu ul.list_gnb .list_subgnb {
        position: static;
        padding-bottom: 5px;
        width: 280px;
    }
    .section_menu ul.list_gnb ul.list_subgnb li{
        border: none;
    }
    .section_menu .list_gnb .list_subgnb .txt_g{
        color: #9aa1af;
        font-size: 24px;
        line-height: 27px;
    }
   
    footer {
        height: 300px;
    }
    footer .social {
        float: none;
        top: 30px;
        padding: 0;
        right: 0px;
    }
    .back-to-top {
        width: 20px;
        height: 20px;
        right: 20px;
        bottom: 20px;
        padding: 10px 13px 10px;
        margin-top: 5px;
    }
    .back-to-top .icon {
        width: 12px;
        height: 16px;
        margin-top: 5px;
    }
    footer .copyright {margin-top:40px; line-height: 20px;}
    .group_lang{ top: 10px; right: 0; float: none; display: inline-block;}
}
@media only screen and (max-width: 400px) {
    header .logo {
        left: 58%;
    }
    header .logo .ico_more {
        margin: 30px 10px 30px 10px;
    }
    /*fix menu top*/
    header .logo .list_subgnb {
        width: 230px;
    }
    header .logo .list_subgnb .link_subgnb{ 
        padding: 20px 20px;
    }    
    footer {
        min-height: 391px;
    }
    footer .wrapper {
        padding: 20px 20px 31px;
        text-align: center;
    }
    footer .logos {
        text-align: center;
    }
    footer .ico_kakaogames {
        width: 112px;
        height: 20px;
    }
    footer .ico_archage {
        width: 112px;
        height: 20px;
    }
    footer ul.links {
        text-align: center;
    }
    footer ul.links li{
        display: block ;
        font-size: 12px;
        line-height: 38px;
    }
    footer ul.links li:not(:first-child):before {
        content: "";
        margin: 0;
    }
    footer .social{
        margin: 40px 0;
    }
    footer .copyright {
        font-size: 10px;
        line-height: 16px;
    }
    .group_lang{ top: 30px;}
}    
@media only screen and (max-width: 320px) {
    .section_menu .list_gnb .btn.primary {
        margin: 30px 10px;
    }
    header .logo .ico_logo.legacy + .ico_more {
        margin: 30px 10px 30px 10px;
    }
    header .logo .ico_logo.legacy {
        width: 140px;     
    }   
}    